.checkbox {
  &__container {
    position: relative;

    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;
  }

  &__new {
    display: inline-block;
    height: 20px;
    width: 20px;
    background: white;
    border: 1px lightgrey solid;

    margin-right: 6px;
    border-radius: 2px;

    &--error {
      outline: 2px solid red;
      outline-offset: -2px;
      //   border: 2px red solid;
    }

    &--active {
      border-color: var(--clr-primary-400);
      background: var(--clr-primary-400);
    }
  }

  &__old {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}
