@use "../abstracts" as *;

.header {
  &__body {
    --cont-vpad: 4.25em;
    width: 85%;
    display: grid;
    grid-template-areas:
      "intro navigation"
      "image image";
  }

  @include mq(small) {
    &__body {
      --cont-vpad: 2em;
      grid-template-areas:
        "navigation"
        "intro"
        "image";
    }
  }
}

.navigation {
  grid-area: navigation;
  margin-left: auto;
}

.intro {
  grid-area: intro;
  --flow-spacer: 1.5em;

  &__title {
    max-width: 100px;
  }

  &__info {
    line-height: 1.2em;
  }

  &__language-toggle {
    display: none;
  }

  @include mq(small) {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &__language-toggle {
      display: block;
      & > h3 {
        font-size: var(--fs-text);
        transform: rotate(180deg);
      }
    }
  }
}

.banner {
  grid-area: image;
  margin-top: 2.5em;

  & > img {
    width: 100%;
    height: clamp(400px, 60vh, 500px);
    object-fit: cover;
  }

  @include mq(small) {
    margin-bottom: 4em;
    & > img {
      height: clamp(300px, 60vh, 400px);
      object-position: 0 -50px;
    }
  }
}

.about {
  background-color: var(--clr-primary-200);
  padding: var(--section-spacing) 0;

  &__container {
    display: flex;
    justify-content: center;
  }

  &__body {
    --flow-spacer: 2em;
    line-height: 1.2em;
    text-align: center;
    max-width: 85%;
  }

  @include mq(small) {
    &__body {
      max-width: 500px;
    }
  }
}

.skills {
  padding: var(--section-spacing) 0;

  &__body {
    --flow-spacer: 2.5em;
    text-align: center;
    width: 85%;
  }

  &__items {
    --flow-spacer: 5em;
  }

  @include mq(small) {
    &__items {
      --flow-spacer: 0;
      padding-top: 5em;
      display: flex;
      justify-content: space-between;
    }
  }
}

.portfolio {
  background-color: var(--clr-primary-200);
  padding: var(--section-spacing) 0;
  text-align: center;

  &__body {
    width: 85%;
  }

  &__works {
    --flow-spacer: 4.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    margin-bottom: 1.75em;
  }

  &__link {
    color: var(--clr-primary-500);
  }
}

.footer {
  padding: var(--section-spacing) 0;
  line-height: 1.2em;

  &__body {
    --flow-spacer: 2em;
    text-align: center;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__button {
    font-size: var(--fs-text);
    width: 100%;
  }

  &__socials {
    --flow-spacer: 4.5em;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  &__ad {
    color: var(--clr-primary-300);
  }

  @include mq(small) {
    &__body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__button {
      width: auto;
    }

    &__socials {
      width: clamp(300px, 50%, 500px);
    }
  }
}
