.requests {
  &__item {
    margin: 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &:hover {
      color: var(--clr-primary-400);
    }
  }
  &__content {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 0;

    font-weight: 500;
  }

  &__status,
  &__date {
    color: grey;
  }
}
