@use '@styles/abstracts/_mixins' as *;

.home {
  &__container {
    @include container-slim;

    height: 100%;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: 2.5rem;
    margin: 10px 20px;
    font-weight: 400;
  }
}

.requests {
  margin: 20px 0;

  &__item {
    margin: 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &:hover {
      color: var(--clr-primary-400);
    }
  }
  &__content {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 0;

    font-weight: 500;
  }

  &__status,
  &__date {
    color: grey;
  }
}
