@use '@styles/abstracts/_mixins' as *;

.home {
  &__container {
    @include container-slim;

    height: 100%;
    padding-bottom: 50px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: 2.5rem;
    margin: 10px 20px;
    font-weight: 400;
  }

  &__requests {
    margin: 20px 0;
  }
}
